html {
	max-width: 3840px;
}

body {
	font-family: 'Ledger', sans-serif;
	text-align: justify;
}

section {
	padding: 4rem 0;
}

h2 {
	font-family: 'Nixie One', sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 2rem;
	padding: 0 0 2rem 0;
}

@media all and (max-width: 1200px) {
	h2 {
		font-size: 1.2rem;
	}
}

a { 
	color: #1B7E0C; 
	text-decoration: none;
} 

a:hover { 
	color: #29BF12; 
} 


/*
https://coolors.co/29bf12-abff4f-08bdbd-f21b3f-ff9914
*/

/*
.autohide {
	position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 1030;
}
.scrolled-down {
	transform:translateY(-100%); transition: all 0.3s ease-in-out;
}
.scrolled-up {
	transform:translateY(0); transition: all 0.3s ease-in-out;
}
*/
	
.mybg-header {
    background-color: #08BDBD;
    font-family: 'Nixie One', sans-serif;
    font-weight: bold;
}

.mybg-light {
    background-color: #F4F4F2;
}

.mybg-dark {
    background-color: #E8E8E8;
}

.mybg-schedule {
	font-family: 'Roboto Mono', sans-serif;
	font-size: .8rem;
}

.mybg-footer {
    background-color: #F21B3F;
    font-family: 'Nixie One', sans-serif;
    font-weight: bold;
}

.py-repl-editor{
  background: #EEEEEE;
  box-sizing: border-box;
  border-width: 0px;
  border-style: solid;
  border-color: rgb(209, 13, 19)
}

.spinner::after {
  content: "";
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  position: absolute;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border-radius: 50%;
}
.py-overlay {
  top: 0;
  width: 110px;
  height: 80px;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
  background: rgba(0, 0, 0, 1);
}
.py-pop-up {
  text-align: center;
  width: 80px;
}
.py-pop-up p {
  font-size: 0px;
  margin: 0px;
}

.generated-menu-item{
  text-align: left;
}

.py-repl-run-button {
  opacity: 1;
}